

.body{
    background-color: rgb(11, 164, 215);
}

.header{
    width: 100%;
    height: 500px;
    color: rgb(143, 206, 230);;
    box-shadow: 0 5px 10px rgb(143, 206, 230);;
    display: flex;
    align-items: center;
    position: relative;
}
.header::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(60% at left 300px);
    z-index: -1;
}

.row1{
    font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.row2{
    position: absolute;
    top:10px;
    right: 150px;
    text-align: center;
}
.row2 h2{
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}
.row2 img{
    margin-top: 30px;
    width: 500px;
}
.row1 h1{
    font-size: 3rem;
    text-align: center;
    margin-left: 35px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    outline: 0;
    border: 0;
    width: 350px;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
}
.search button{
    outline: none;
    border: none;
    height: 35px;
    padding: 0 0.5rem;
}
.container{
    width: 85%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(5,minmax(300px,0.5fr));
    grid-gap:30px;
    box-sizing: border-box;
}
.card{
    background-color: rgb(143, 206, 230);
    border-radius: 1rem;
    padding: 0.8rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(146, 164, 169, 0.5);
    transition: .5s;
    text-align: center;
    position: relative;
}
.card:hover{
    transform: scale(0.9);
    background-color: rgba(159, 231, 242, 0.8);
}
.card img{
    width: 100%;
    height: 280px;
    border-radius: 1rem 1rem 0 0;
}
.card .bottom{
    display: flex;
    flex-direction: column;
}
.card .bottom .title{
    font-size: 25px;
    margin-bottom: 50px;
}
.card .bottom .amount{
    position: absolute;
    bottom: 15px;
    left: 10px;
    right: 10px;
    background-color: rgb(11, 164, 215);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 0.3rem;
}
.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-inner{
    background: white;
    width: 1000px;
    height: 1000px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
}
.overlay-inner .close{
    position: absolute;
    top:1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 27px;
    background-color: transparent;
}
.overlay-inner .inner-box{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.overlay-inner .inner-box img{
    margin-right: 20px;
    margin-top: 100px;
    width: 200px;
    height: 200px;
}
.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: green;
}
.overlay-inner .inner-box h4{
    color: blue;
}
.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}
.overlay-inner .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 18px;
    color: #000;
}

.sideBar{
    margin-right: 18px;
    width: 150px;
    height: 100%;
    background-color: white;
    
}

.sidebarList{
    height: auto;
    padding: 0;
    width: 100%;
    
}

.sidebarList .row{
    width:  100%;
    height: 160px;
    border: 1px solid #24a0ed;
    list-style-type: none ;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: #24a0ed;
    justify-content: center;
    align-items: center;
}